

.left-container {
    background: url(../image/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .full-height {
    height: 100vh;
  }

  .mt-6 {
      margin-top: 3em;
  }

  .mb-0 {
      margin-bottom: 0;
  }

  .fs-2 {
      font-size: 1.2em;
  }